<!DOCTYPE html>
<html ng-app="replyApp">

<head>
    <style>
        /* Add your CSS styles for the reply page here */
        #profile {
            width: 100px;
            height: 100px;
        }

        #profile-comment {
            width: 50px;
            height: 50px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body>
    <div ng-controller="ReplyController">
        <h1>Reply to Discussion</h1>

        <div>
            <h3>{{ selectedDiscussion.Title }}</h3>
            <p>{{ selectedDiscussion.Details }}</p>
            <p>Posted by: {{ selectedDiscussion.Name }}</p>
            <img ng-src="{{ selectedDiscussion.Picture }}" alt="Profile Picture" id="profile">
        </div>

        <div ng-repeat="comment in comments">
            <p>{{ comment.Comment }}</p>
            <p>Comment by: {{ comment.Name }}</p>
            <img ng-src="{{ comment.Picture }}" alt="Profile Picture" id="profile-comment">
        </div>

        <div>
            <textarea ng-model="replyText" placeholder="Enter your comment"></textarea>
            <button ng-click="postReply()">Comment</button>
        </div>
    </div>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.23.0/firebase-app.js";
        import { getDatabase, set, ref, update, get, child, remove } from "https://www.gstatic.com/firebasejs/9.23.0/firebase-database.js";
        import { getAuth, createUserWithEmailAndPassword, signInWithEmailAndPassword, onAuthStateChanged } from "https://www.gstatic.com/firebasejs/9.23.0/firebase-auth.js";
        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyDC9Am3C4GzmMz6htqNIgrR5yuMdFfiibE",
            authDomain: "online-film-club.firebaseapp.com",
            databaseURL: "https://online-film-club-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "online-film-club",
            storageBucket: "online-film-club.appspot.com",
            messagingSenderId: "430279427350",
            appId: "1:430279427350:web:d92b85b41a79bf11fa3c37"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const database = getDatabase(app);
        const auth = getAuth();

        var username;
        var profilePic;

        function getName() {
            // Get the movie details from Firebase
            const uid = sessionStorage.getItem('uid');
            if (uid) {
                console.log(uid);
            }

            get(ref(database, `users/${uid}`)).then((snapshot) => {
                if (snapshot.exists()) {
                    const user = snapshot.val();
                    const name = document.getElementById('welcome');
                    username = user.username;
                    profilePic = user.profileUrl;
                }
            });
        }

        getName();

        // AngularJS app and controller for the reply page
        angular.module('replyApp', [])
            .controller('ReplyController', ['$scope', '$window', function ($scope, $window) {
                // Retrieve the selected discussion from session storage
                var selectedDiscussion = sessionStorage.getItem('selectedDiscussion');
                $scope.selectedDiscussion = JSON.parse(selectedDiscussion);
                var title = $scope.selectedDiscussion.Title;
                // Function to handle posting a reply
                $scope.postReply = function () {
                    var replyText = $scope.replyText;
                    const dt = new Date().toISOString();
                    const commentId = dt.replace(/[-:.]/g, '');
                    // Implement your logic to handle posting the reply
                    // You can access the selected discussion and reply text
                    const forumRefPath = `forum/${title}/Comments/${commentId}`;
                    // to perform any necessary actions, such as updating the database
                    set(ref(database, forumRefPath), {
                        Name: username,
                        Picture: profilePic,
                        Comment: replyText,
                        Timestamp: dt
                    });

                    // Reset the reply text input
                    $scope.replyText = '';
                    fetchComments();
                };

                // Function to fetch and display all forum comment
                function fetchComments() {
                    var dbRef = ref(database);
                    var commentRef = child(dbRef, `forum/${title}/Comments`);

                    get(commentRef).then((snapshot) => {
                        if (snapshot.exists()) {
                            const commentArr = [];
                            snapshot.forEach((childSnapshot) => {
                                const commentObj = childSnapshot.val();
                                commentArr.push(commentObj);
                            });

                            // Update the discussions array in the scope
                            $scope.comments = commentArr;

                            // Trigger AngularJS digest cycle to update the view
                            $scope.$apply();
                        }

                    })

                }

                // Call the fetchDiscussions function to initially load the discussions
                fetchComments();
            }]);
    </script>
</body>

</html>